################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/epr-app-config-settings/FileContentIndex/49c928c4-ac6f-43fb-917c-7c3fbbbe312f.vsidx
/.vs
